.required:after {
 content:" *"; 
 }
 
.container {
	margin-top: 70px;
	font-family: "Times New Roman"
}	


hr {
  clear:both;
  display:block;
  width: 96%;               
  background-color:black;
  height: 1px;
}